TELEGRAM_BOT_TOKEN="TELEGRAM_BOT_TOKEN"
ADMIN_IDS="ADMIN_IDS,ADMIN_IDS,ADMIN_IDS"

DATABASE_HOST="DATABASE_HOST"
DATABASE_PORT="DATABASE_PORT"
DATABASE_USER="DATABASE_USER"
DATABASE_PASSWORD="DATABASE_PASSWORD"
DATABASE_NAME="DATABASE_NAME"